.more-screen .user-component .fa-exclamation-circle {
  color: tomato;
  font-size: 14px;
}

.more-screen .icon-row {
  margin-top: 25px;
  flex-wrap: wrap;
  justify-content: left;
}
.more-screen .icon-row__icon {
  width: 25%;
}
.more-screen .icon-row__icon:nth-child(n + 5) {
  margin-top: 25px;
}

.more-suggestions {
  margin-top: 50px;
  border-top: var(--main-border);
  padding-top: 40px;
}

.more-suggestions__title {
  margin-bottom: 25px;
}

.more-suggestions__icons {
  display: flex;
  justify-content: left;
}
.more-suggestions__icon {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  background-color: var(--yellow);
  border-radius: 15%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 10px;
}

.more-suggestions__icon-image i {
  font-size: 32px;
  color: white;
}
