.badge {
  background-color: tomato;
  width: 24px;
  height: 24px;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  font-weight: 600;
}

.badge-pin {
  position: relative;
}

.badge-small {
  width: 4px;
  height: 4px;
  position: absolute;
  right: -10px;
  top: 0px;
}
.badge-RT {
  top: -16px;
  right: -12px;
}

.badge-small.badge-RT {
  top: -8px;
  right: -6px;
}
